body {
    padding: 0;
    margin: 0;
}

html, body {
    box-sizing: border-box;
    height: 100%;
    min-height: 100%;
}

main {
    box-sizing: border-box;
    min-height: 100%;
    padding-bottom: 50px;
}

header {
    display: flex;
    justify-content: space-between;
    background: #d05858;
    padding: 0 18px;
}

h1 {
    color: darkslategrey;
    margin-right: 18px;
    padding: 4px 8px; 
    border: 4px solid white;
    color: white;
    text-align: center;
}

button:hover, button:active, button:focus {
    outline: none;
}

img {
	width: 100%;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0 12px;
}

li {
    box-sizing: border-box;
    max-width: 440px;
	padding: 10px 4px;
	border: 6px solid #7e9898;
	margin-bottom: 10px;
	transition: margin-top 0.5s ease;
}

li.loaded{
	margin-top: 0;
}

h2 a{
    font: bold 24px Helvetica, Arial, sans-serif;
    color: #625c5c;
}

p {
    font: 12px Helvetica, Arial, sans-serif;
    color: darkcyan;
}

a {
   font:  12px Helvetica, Arial, sans-serif; 
    color: grey;
    position: relative;
    display: block;
}

span {
    font:  16px Helvetica, Arial, sans-serif; 
    color: white; 
    position: absolute;
    left: 18px;
    bottom: 18px;
    display: block;
    background: #7e9898;
    padding: 2px 8px;
}

.backdrop {
	opacity: .3;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    background: #253a43;
    transition: .2 ease;
}

.loader {
	transition: .2 ease;
	color: #ffffff;
	font-size: 90px;
	text-indent: -9999em;
	overflow: hidden;
	width: 1em;
	height: 1em;
	border-radius: 50%;
	margin: 72px auto;
	position: relative;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-animation: load6 1.7s infinite ease;
	animation: load6 1.7s infinite ease;
}

@-webkit-keyframes load6 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}

@keyframes load6 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}

li.error-message {
    border: none;
    background: #f28787;
}

li.error-message p {
    color: white;
    font-size: 24px;
    text-align: center;
}


.navigation {
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0 12px;
    
}
.navigation__item {
    width: auto;
    border: none; 
    padding: 0;
    margin: 0;
    background: none;
    border-left: 2px solid white;
    padding-left: 8px;
    margin-right: 18px;
}

.navigation__item a {
    text-decoration: none;
    font-size: 24px;
    color: white;
    white-space: nowrap;
}

.navigation__item a:hover {
    text-decoration: underline;
}

.navigation__item.active a {
    text-decoration: line-through;
}

footer {
    height: 40px;
    margin-top: -40px;
    background: #d05858;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: white;
    padding: 0 12px;
}

footer a {
    color: white;
}

footer p {
    color: white;
    padding: 0 8px;
}
